/XPTO/.vs/XPTO/v15/.suo
/XPTO/.vs/XPTO/v15/Server/sqlite3/db.lock
/XPTO/.vs/XPTO/v15/Server/sqlite3/storage.ide
/XPTO/.vs/XPTO/v15/Server/sqlite3/storage.ide-shm
/XPTO/.vs/XPTO/v15/Server/sqlite3/storage.ide-wal
/XPTO/DesignPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility/bin
/XPTO/DesignPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility.Test/bin
/XPTO/DesignPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility/obj
/XPTO/DesignPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility.Test/obj
/XPTO/SpecificationPattern/Xpto.SpecificationPattern/bin
/XPTO/SpecificationPattern/Xpto.SpecificationPattern/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility/bin
/XPTO/DesignPatterns/GangOfFourPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility.Test/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility.Test/bin
/XPTO/DesignPatterns/SpecificationPattern/Xpto.SpecificationPattern/obj
/XPTO/DesignPatterns/SpecificationPattern/Xpto.SpecificationPattern/bin
/XPTO/DesignPatterns/GangOfFourPatterns/Behavioral/Strategy/Xpto.Behavioral.Strategy/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Behavioral/Strategy/Xpto.Behavioral.Strategy/bin
/XPTO/DesignPatterns/GangOfFourPatterns/Behavioral/Strategy/Xpto.Behavioral.Strategy.Test/bin
/XPTO/DesignPatterns/GangOfFourPatterns/Behavioral/Strategy/Xpto.Behavioral.Strategy.Test/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Creational/Factory/Xpto.Creational.Factory/bin
/XPTO/DesignPatterns/GangOfFourPatterns/Creational/Factory/Xpto.Creational.Factory/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Creational/Factory/Xpto.Creational.Factory.Test/bin
/XPTO/DesignPatterns/GangOfFourPatterns/Creational/Factory/Xpto.Creational.Factory.Test/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Creational/Factory/Xpto.Creational.AbstractFactory.Test/bin
/XPTO/DesignPatterns/GangOfFourPatterns/Creational/Factory/Xpto.Creational.AbstractFactory.Test/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Creational/Factory/Xpto.Creational.AbstractFactory/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Creational/Factory/Xpto.Creational.AbstractFactory/bin
/XPTO/DesignPatterns/GangOfFourPatterns/Creational/Factory/Xpto.Creational.Factory/Xpto.Creational.Factory.csproj.user
/XPTO/DesignPatterns/SpecificationPattern/Xpto.SpecificationPattern/Xpto.SpecificationPattern/obj
/XPTO/DesignPatterns/SpecificationPattern/Xpto.SpecificationPattern/Xpto.SpecificationPattern/bin
/XPTO/DesignPatterns/SpecificationPattern/Xpto.SpecificationPattern/Xpto.SpecificationPattern.Test/obj
/XPTO/DesignPatterns/SpecificationPattern/Xpto.SpecificationPattern/Xpto.SpecificationPattern.Test/bin
/XPTO/DesignPatterns/GangOfFourPatterns/Creational/Factory/Xpto.Creational.Singleton/bin
/XPTO/DesignPatterns/GangOfFourPatterns/Creational/Factory/Xpto.Creational.Singleton/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Creational/Singleton/Xpto.Creational.Singleton.Test/bin
/XPTO/DesignPatterns/GangOfFourPatterns/Creational/Singleton/Xpto.Creational.Singleton.Test/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Creational/Singleton/Xpto.Creational.Singleton/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Creational/Singleton/Xpto.Creational.Singleton/bin
