/XPTO/.vs/XPTO/v15/.suo
/XPTO/.vs/XPTO/v15/Server/sqlite3/db.lock
/XPTO/.vs/XPTO/v15/Server/sqlite3/storage.ide
/XPTO/.vs/XPTO/v15/Server/sqlite3/storage.ide-shm
/XPTO/.vs/XPTO/v15/Server/sqlite3/storage.ide-wal
/XPTO/DesignPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility/bin
/XPTO/DesignPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility.Test/bin
/XPTO/DesignPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility/obj
/XPTO/DesignPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility.Test/obj
/XPTO/SpecificationPattern/Xpto.SpecificationPattern/bin
/XPTO/SpecificationPattern/Xpto.SpecificationPattern/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility/bin
/XPTO/DesignPatterns/GangOfFourPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility.Test/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Behavioral/ChainOfResponsibility/Xpto.Behavioral.ChainOfResponsibility.Test/bin
/XPTO/DesignPatterns/SpecificationPattern/Xpto.SpecificationPattern/obj
/XPTO/DesignPatterns/SpecificationPattern/Xpto.SpecificationPattern/bin
/XPTO/DesignPatterns/GangOfFourPatterns/Behavioral/Strategy/Xpto.Behavioral.Strategy/obj
/XPTO/DesignPatterns/GangOfFourPatterns/Behavioral/Strategy/Xpto.Behavioral.Strategy/bin
